<div class="qcontainer">
  <div class="qtitlecontainer"><p id="text"><%= ($questionNo = $questionNo + 1) %>. <%= question.text %></p></div>
  <p> <%= radio_button_tag :answer_id, 1, :class => "css-label cb2" %> Love It </p>

  <p> <%= radio_button_tag :answer_id, 2, :class => "css-label cb2" %> It's Alright </p>

  <p> <%= radio_button_tag :answer_id, 3, :class => "css-label cb2" %> Doesn't Matter </p>

  <p> <%= radio_button_tag :answer_id, 4, :class => "css-label cb2" %> Don't Like It </p>

  <p> <%= radio_button_tag :answer_id, 5, :class => "css-label cb2" %> Hate It </p>

  <p> <%= radio_button_tag :importance, 1, :class => "css-label cb2" %> Extremely Important </p>

  <p> <%= radio_button_tag :importance, 2, :class => "css-label cb2" %> Somewhat Important </p>

  <p> <%= radio_button_tag :importance, 3, :class => "css-label cb2" %> Meh </p>

  <p> <%= radio_button_tag :importance, 4, :class => "css-label cb2" %> Who Cares </p>

  <p> <%= radio_button_tag :importance, 5, :class => "css-label cb2" %> IDGAF </p>

  <%= link_to "Submit", user_answers_path({:question_id=>question.id, :user_id=>current_user}), :class=>"submit", :method=>:post %>
</div>
