<% provide(:title, 'Create New Question') %>
<%= render 'layouts/header' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $("body").ready(function(){
        $("textarea").val("");
        $("textarea").keydown(function(){$("p#count").text("Characters: " + $(this).val().length + " / 150")});
        $("textarea").keyup(function(){$("p#count").text("Characters: " + $(this).val().length + " / 150")});
    });
</script>

<div style="width: 500px; margin-left: auto; margin-right: auto;">
  <div class="row">
    <h3 class="title">Create your own Topic</h3>
    <h5 class="title">Try to create topics that could be used to match you with another user. Refrain from using current events and the like.</h5>
    <br /> <br />
    <%= form_for(@question) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <p>
        <h4>Your question</h4>
        <%= f.text_area :text, rows: 3, maxlength: 150, :style => "width: 90%;" %>
        <div style="width: 92%">
          <p id="count" align="right">Characters: 0 / 150</p>
        </div>
        </p>
        <hr>
        <p>
          <%= f.submit "Submit", :class => 'submit', :style => 'width:180px; float:right'  %>
        </p>
    <% end %>
  </div>
</div>