<% if signed_in? %>
    <%= render 'layouts/header' %>
    
    <div class="row">
        <aside class="span4">

        <section style="margin-top: 50px;">
            <%= render 'shared/post_form' %>
        </section>
        </aside>
        <div class="span8">
            <h3>Bro Feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>

<% else %>
<div class="center hero-unit">
        <h1>Welcome to Bro-k Cupid</h1>

        <h2>
            A Brocial Network
        </h2>

    
    <%= link_to "Sign up now", signup_path, class: "submit" %>
    <%= link_to "Sign in",      signin_path, class: "submit" %>
</div>

<% end %>

