<%= render 'layouts/header' %>

<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
        <h2>Friends</h2>
        <ul>
            <% for friendship in @user.friendships %>
                <li>
                    <%= link_to friendship.friend.name, friendship.friend %>
                    (<%= link_to "remove", friendship, :method => :delete %>)
                    </li>
                <% end %>

            <% for user in @user.inverse_friends %>
                <li><%=h user.name %></li>
            <% end %>
            </ul>
    </section>
    
    </aside>

    <div class="span8">
        <% if @user.posts.any? %>
            <h3><%= @user.name %> Posts (<%= @user.posts.count %>)</h3>
            <ol class="posts">
                <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
    </div>

</div>

<%= render 'layouts/footer' %>
