<% provide(:title, 'Create Event') %>
<%= render 'layouts/header' %>

<div style="width: 500px; margin-left: auto; margin-right: auto;">

  <h3 class="title">Create an event</h3>
  <h6 class="title">Create a public event for other users.</h6>
  <br /><br />

  <%= form_for(@event) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, :class => "fieldlabel" %>
      <%= f.text_field :title, :class => "textfield" %>

      <%= f.label :description, :class => "fieldlabel" %>
      <%= f.text_field :description, :class => "textfield" %>

      <%= f.label :location, :class => "fieldlabel" %>
      <%= f.text_field :location, :class => "textfield" %>

      <%= f.label :time, :class => "fieldlabel" %>
      <div class="dateselector">
        <%= f.datetime_select :time, :class => "textfield",
                              :order => [:month, :day, :hour, :minute] %>
      </div>

      <hr style="height:1px;"/>

      <%= f.submit "Create Event", class: 'submit', :style => "width: 180px; float: right" %>
  <% end %>
</div>