<h1>Create Event</h1>

<div class="row">
    <div class="span6 offset3">
        <%= form_for(@event) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <p>
                <%= f.label :title, "Name of Event: (The bro-down, lifting with the bros, etc...)" %>
                <%= f.text_field :title %>
            </p>

            <p>
                <%= f.label :description, "Description: (Let your bros know what this shindig is about.)" %>
                <%= f.text_field :description %>
            </p>

            <p>
                <%= f.label :location, "Location: (Where da party at?)" %>
                <%= f.text_field :location %>
            </p>

                <%= f.label :time, "When is it?" %>
                <%= f.datetime_select :time,
                    :order => [:month, :day, :hour, :minute] %>

            <p>
                <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
            </p>
        <% end %>
    </div>
</div>

