<%= render 'layouts/header' %>
<h2><%= @event.title %></h2>

<div> Description: <%= @event.description %> </div> <br>
<div> Location: <%= @event.location %> </div> <br>
<div> Time: <%= @event.time %> </div> <br>

