<%= render 'layouts/header' %>
<h2><%= @event.title %></h2>
<div style="width: 500px; margin-left: auto; margin-right: auto;">
    <div> Description: <%= @event.description %> </div> <br>
    <div> Location: <%= @event.location %> </div> <br>
    <div> Time: <%= @event.time %> </div> <br>
</div>

